.Form {
  max-width: calc(220px * 4);
  margin: 20px auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 769px) {
    flex-flow: row wrap;
  }

  &-Control {
    margin: 0 10px;
  }

  &-Input {

    &_Error, &_Error:focus {
      border: 1px solid #aa2707 !important;
      & + .Form-Error {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-Error {
    color: #aa2707;
    visibility: hidden;
    opacity: 1;
    transition: opacity 1s ease;
  }
}
